<div class="container-fluid" style="padding-top:150px">
    <div class="row">
        <div class="container">
            <div style="min-height:850px">
                <button>Selam</button>
                <h1>Merhaba</h1>
                <button>Tıkla</button>
               <GonderenButton renk="blue" clasadi="warning" butontipi="submit"></GonderenButton>
                <hr />

                <ozellistem liste="@ViewBag.ulkeler"></ozellistem>
                

            </div>
        </div>
    </div>
</div>